scripts/__pycache__/
./*~
./*/**~
.cache/
*~
*#
.snakemake/
.keras/
tmp/
numba_cache_dir/
logs/
data/
plots/
.#*
output/
.RData
.Rhistory*
.nextflow*
samplesheet.csv
test/idat/
test/samplesheet.csv
test/output/
*.pdf
*.Rds
